# ---------------- GENERAL DEFAULTS ------------------
NODED_ENV="development"
PORT="5800"
APP_NAME="Hotspot Beauty"

# ---------------- AUTHENTICATION ----------------------
JWT_SECRET_KEY="secretkey"
JWT_EXPIRES_IN="7d"
AUTH_SESSION_TTL="604800"
SEED_PASSWORD="password123"

# ---------------- INFRASTRUCTURE --------------------
REDIS_URL="redis://localhost:6379"
DATABASE_URL="mongodb://localhost/hsb"
BULL_MQ_REDIS_URL="redis://localhost:6379"

# ---------------- WEBHOOK ------------------------
BOOKING_EVENTS_URL="https://webhook.site/someid"

# --------------- RATE LIMITING --------------------
THROTTLE_TTL=1000
THROTTLE_LIMIT=5
